[Unit]
Description=Docker Compose for SmartTool
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose -f /temp/SmartTool/docker-compose.yaml up -d
ExecStop=/usr/bin/docker compose -f /temp/SmartTool/docker-compose.yaml down

[Install]
WantedBy=multi-user.target